<body class="body">
  <div class="div-block">
    <h1 class="heading-2">Welcome!</h1>
    <h3 class="heading-3">Total registered plate numbers: {{nrInmat.length}}</h3>
    <h3 class="heading-3">Parking lot capacity: {{maxCapacity}}</h3>
    <div class="w-form">
      <form (submit)="onSubmit()" class="form">
        <input [formControl]="nrInmatriculare" class="text-field w-input" placeholder="Register new plate number">
        <input type="submit" class="submit-button w-button" value="Submit!">
      </form>
    </div>
    <div class="w-form">
      <form (submit)="onSubmitCap()" class="form">
        <input [formControl]="maxCap" class="text-field w-input" placeholder="Modify capacity">
        <input type="submit" class="submit-button w-button" value="Submit!">
      </form>
    </div>
  </div>
  <ul class="list w-list-unstyled">
    <li class="list-item" *ngFor="let nr of nrInmat">{{nr.nrInmatriculare}}</li>
  </ul>
</body>