.background {
  background-image: url('src/assets/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.div-block {
  background-color: #000;
  opacity: .75;
  margin-bottom: 0.5vw;
  margin-left: 33%;
  margin-right: 33%;
}

.heading-2 {
  opacity: 1;
  color: #fff;
  text-align: center;
  font-size: 4vw;
}

.heading-3 {
  opacity: 1;
  color: #fff;
  text-align: center;
  font-size: 2vw;
}

.form {
  border-radius: 0.3vw;
  width: 18.75vw;
  font-size: 1.5vw;
  text-align: center;
  margin: auto;
}

.text-field {
  margin-top: 0.3vw;
  border-radius: 0.6vw;
  opacity: .95;
  text-align: center;
  background-clip: border-box;
  width: 18.75vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  font-size: 1.5vw;
  position: static;
  outline: none;
  color: #000;
  background-color: #fff;
  border: 0.125vw solid rgba(230, 124, 45, .85);
  width: 100%;
  height: 2.375vw;
  margin-bottom: 0.625vw;
  padding: 0.5vw 0.75vw;
  font-weight: 600;
  display: block;
}

.submit-button {
  opacity: 1;
  color: #fff;
  background-color: #CC4432;
  margin-bottom: 0.3vw;
  display: inline-block;
  border-radius: 1vw;
  font-size: 1.5vw;
  cursor: pointer;
  padding-left: 0.625vw;
  padding-right: 0.625vw;
  font-weight: 400;
}

.list {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  background-color: transparent;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  list-style-type: none;
  display: grid;
  padding-right: 0.3vw;
  opacity: .85;
}

.list-item {
  background-image: url('src/assets/images/plate-number-romania.jpg');
  background-size: cover;
  text-align: center;
  border-radius: 0.438vw;
  font-size: 3.625vw;
  font-weight: 650;
  opacity: 0.85;
}