<div class="background">
  <div class="div-block">
    <h1 class="heading-2">Welcome</h1>
  </div>
  <div class="div-block">
    <h3 class="heading-3">Admin controls</h3>
    <form class="form">
      <button id="open-barrier-button" class="submit-button" type="button"
        (click)="changeColorForOpenBarrierButton()">Open barrier indefinitely</button>
      <button id="close-barrier-button" class="submit-button" type="button"
        (click)="changeColorForCloseBarrierButton()">Close barrier indefinitely</button>
    </form>
  </div>
  <div class="div-block">
    <h3 class="heading-3">Parking lot capacity:
      <span id="capacity-span">{{currentCapacity}}/{{maxCapacity}}</span>
    </h3>
    <form (submit)="onSubmitMaxCapacity()" class="form">
      <input [formControl]="maxCapacityInput" class="text-field" placeholder="Modify capacity..."
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Modify capacity...'">
      <input type="submit" class="submit-button" value="Submit">
    </form>
  </div>
  <div class="div-block">
    <h3 class="heading-3">Total registered plate numbers:
      <span style="color: #9BCC32">{{plateNumbers.length}}</span>
    </h3>
    <form (submit)="onSubmitPlateNumber()" class="form">
      <input [formControl]="plateNumberToAddInput" class="text-field" placeholder="Add new plate number..."
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add new plate number...'">
      <input type="submit" class="submit-button" value="Submit">
    </form>
  </div>
  <div class="div-block">
    <h3 class="heading-3">Delete registered plate number</h3>
    <form (submit)="onDeletePlateNumber()" class="form">
      <input [formControl]="plateNumberToDeleteInput" class="text-field" placeholder="Delete plate number..."
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Delete plate number...'">
      <input type="submit" class="submit-button" value="Submit">
    </form>
  </div>
  <div class="div-block">
    <h3 class="heading-3">Search registered plate numbers</h3>
    <form class="form">
      <input class="text-field" placeholder="Search plate number..." onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'Search plate number...'" #filter>
      <button class="submit-button" type="button" (click)="filterResults(filter.value)">Search</button>
    </form>
    <h3 class="heading-3">Matches found:
      <span style="color: #9BCC32">{{filteredPlateNumbers.length}}</span>
    </h3>
  </div>
  <ul class="list">
    <li class="list-item" *ngFor="let plateNumber of filteredPlateNumbers">{{plateNumber.plateNumber}}</li>
  </ul>
</div>