<div
  class="flex justify-center h-[100vh] w-[100vw] bg-background bg-no-repeat bg-cover bg-center bg-fixed">
  <div class="bg-c2/[.60] text-c1 p-8 z-50 m-auto text-center rounded">
    <div class="text-[32px]">Reset Password</div>
    <p class="mt-4">Please enter your email address to request a password reset.</p>
    <div class="mt-4 flex justify-center">
      <app-fieldset-input label="Email Address">
        <input type="email" class="forgot-password-input" #passwordResetEmail required>
      </app-fieldset-input>
    </div>
    <button type="submit" class="bg-c6 mt-4 p-2"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password
    </button>

    <div class="flex gap-2 mt-4 justify-center">
      <div>Go back to ?</div>
      <button class="text-c4" routerLink="/sign-in">Log In</button>
    </div>
  </div>
</div>
