<div class="flex justify-center h-[100vh] w-[100vw] bg-background bg-no-repeat bg-cover bg-center bg-fixed">

  <div class="bg-c2/[.60] text-c1 p-8 z-50 m-auto text-center rounded">
    <div class="text-[32px]">Sign In</div>
    <div class="flex flex-col my-4 gap-2">
      <app-fieldset-input label="Email">
        <input type="text" class="sign-in-input" #userName required>
      </app-fieldset-input>
      <app-fieldset-input label="Password">
        <input type="password" class="sign-in-input" #userPassword required>
      </app-fieldset-input>
    </div>
    <button class="bg-c6 w-full py-1" (click)="authService.SignIn(userName.value, userPassword.value)">Log in</button>
    <div class="flex gap-2 mt-2">
      <div>Forgot Your Password?</div>
      <button class="text-c6" routerLink="/forgot-password"> Click Me</button>
    </div>
    <!-- <div class="flex gap-2 mt-2">
      <div>Don't have an account?</div>
      <button class="text-c4" routerLink="/sign-up"> Sign Up</button>
    </div> -->
  </div>
</div>