<div
  class="flex justify-center h-[100vh] w-[100vw] bg-background bg-no-repeat bg-cover bg-center bg-fixed">

  <div class="bg-c2/[.60] text-c1 p-8 z-50 m-auto text-center rounded">
    <div class="text-[32px]">User Profile</div>
    <div class="mt-4 flex flex-col justify-center items-center" *ngIf="authService.userData as user">
      <img class="h-24 w-24 rounded-full mb-2"
           src="{{(user.photoURL) ? user.photoURL : '/assets/images/dummy-user.png'}}"
           alt="{{user.displayName}}">
      <div class="mb-2">Hello: <strong>{{(user.displayName) ? user.displayName : 'UserModel'}}</strong></div>
      <div class="mb-2">UserModel ID: <strong>{{user.uid}}</strong></div>
      <div class="mb-2">Email: <strong>{{user.email}}</strong></div>
      <div class="mb-2">Email Verified: <strong>{{user.emailVerified}}</strong></div>
    </div>

    <div class="flex justify-between mt-4">
      <button class="bg-c6 flex justify-center gap-2 p-2" (click)="authService.SignOut()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"/>
        </svg>
        Log out
      </button>

      <button class="text-c4 flex justify-center gap-2 p-2" routerLink="/home">
        Go Home
      </button>

    </div>
  </div>
</div>